<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <h1 class="centered">Lok Samvad Sansthan</h1>
                <hr>
                <h3>About Lok Samvad Sansthan</h3>
                <p>Lok Samvad Sansthan provides solutions to help build the true potential in today's youth. Our NGO
                    helps young minds with the opportunity to work in start-ups and gain the experience required to
                    empower themselves. At Lok Samvad Sansthan, we recruit interns based upon their interest, skills,
                    and knowledge so they gain the experience needed for their future.</p>
            </main>

            <%- include('../includes/end.ejs') %>